
DemoStrip/DemoStrip.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
DemoStrip/DemoStrip.xcodeproj/project.xcworkspace/xcuserdata/imgroot.xcuserdatad/UserInterfaceState.xcuserstate
DemoStrip/DemoStrip.xcworkspace/xcuserdata/imgroot.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
